<div class= "row">
  <div class= "large-12 columns">
    <h1>Import Orders</h1>
    <%= form_tag import_orders_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import", class: "tiny button radius"  %>
    <% end %>
  </div>
</div>
<br>
<div class= "row">
  <div class= "large-12 columns">
    <%= link_to "Back", orders_path %>
  </div>
</div>
